<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Hledání min</h1>
    <p class="lead text-muted">Semestrální práce pro předmět KIV/DB2</p>
    <p>
      <a href="https://portal.zcu.cz/portal/studium/courseware/kiv/db2/samostatna-prace/index.html"
         class="btn btn-primary">Zadání semestrální práce</a>
      <a href="https://github.com/stechy1/minesweeper" class="btn btn-secondary">Zdrojový kód na
        GitHubu</a>
    </p>
    <p><a class="btn btn-success" routerLink="/new">Nová hra</a></p>
  </div>
</section>

<div class="overview">
  TODO zobrazit rozehrané hry
</div>