<div class="container">
  <div class="row justify-content-md-center">
    <div>
      <h1>Založení nové hry</h1>
      <span class="radio" *ngFor="let gameType of gameTypes, let i = index">
        <label>
          <input type="radio" [(ngModel)]="configuration.selectedGameType" name="radioGameType"
                 value="{{i}}">
          {{gameType}}
        </label>
      </span>
      <div *ngIf="configuration.selectedGameType == 3">
        <div class="form-group">
          <label for="cols">Počet sloupečků</label>
          <input id="cols" type="number" class="form-control" [(ngModel)]="configuration.cols"
                 name="cols">
        </div>
        <div class="form-group">
          <label for="rows">Počet řádků</label>
          <input id="rows" type="number" class="form-control" [(ngModel)]="configuration.rows"
                 name="rows">
        </div>
        <div class="form-group">
          <label for="mines">Počet Min</label>
          <input id="mines" type="number" class="form-control" [(ngModel)]="configuration.mines"
                 name="mines">
        </div>
      </div>
      <div *ngIf="configuration.radioChanged">
        <button (click)="handleCreateGame()" class="btn btn-primary">Založit novou hru</button>
      </div>
    </div>
  </div>
</div>