<div class="container">
  <div class="row">
    <a routerLink="/scoreboard" fragment="winners" class="btn btn-success btn-sm">Vítězové</a>
    <a routerLink="/scoreboard" fragment="loosers" class="btn btn-danger btn-sm">Poražení</a>
  </div>
  <div class="row" *ngIf="fragment == 'winners'">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Obtížnost</th>
          <th>Sloupců</th>
          <th>Řádků</th>
          <th>Min</th>
          <th>Doba hraní</th>
          <th>Možnosti</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of winners">
          <td>{{record.obtiznost}}</td>
          <td>{{record.sloupcu}}</td>
          <td>{{record.radku}}</td>
          <td>{{record.min}}</td>
          <td>{{record.doba_hrani | pgtime}}</td>
          <td><a routerLink="/game/{{record.id_oblasti}}" class="btn btn-primary btn-sm">Zobrazit hru</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row" *ngIf="fragment == 'loosers'">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Obtížnost</th>
        <th>Sloupců</th>
        <th>Řádků</th>
        <th>Min</th>
        <th>Správně odhaleno</th>
        <th>Doba hraní</th>
        <th>Možnosti</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let record of loosers">
        <td>{{record.obtiznost}}</td>
        <td>{{record.sloupcu}}</td>
        <td>{{record.radku}}</td>
        <td>{{record.min}}</td>
        <td>{{record.spravne_odhaleno}}</td>
        <td>{{record.doba_hrani | pgtime}}</td>
        <td><a routerLink="/game/{{record.id_oblasti}}" class="btn btn-primary btn-sm">Zobrazit hru</a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>